<div class="container" [ngStyle]="{ background:getBlocColor() }">
    <div class="row">
        <div class="col-lg-6">
            <h3>{{ titleBloc }}</h3>
        </div>
        <div class="col-lg-6">
            <p>{{ create_at | date:'short' }}</p>
        </div>
    </div>
    <p>{{ blocText }}</p>
    <!-- vu que l'id est une variable on utilise le property biding [], TS -> template-->
    <a [routerLink]="[id]">Détails</a>
    <!-- vu qu'on réagit à un event on utilise le property biding (), template -> TS-->
    <button class="btn btn-success" 
            style="margin:1em;" 
            (click)="onLike()"
            [disabled]="like === 1">Like</button>
    <button class="btn btn-danger" 
            style="margin:1em;" 
            (click)="onUnlike()"
            [disabled]="like === -1">Unlike</button>
</div>
